@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Space Mono', monospace;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FFF8E7;
}

::-webkit-scrollbar-thumb {
  background: #E99B9B;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d48484;
}